<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbzAPwe2goAkJs55zN0btjJ-Y1Q7nZeqA</string>
	<key>GCM_SENDER_ID</key>
	<string>619316254235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KavionIntelligence.byosync.user</string>
	<key>PROJECT_ID</key>
	<string>byosync-a979c</string>
	<key>STORAGE_BUCKET</key>
	<string>byosync-a979c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619316254235:ios:05e2f02a40821247254abe</string>
</dict>
</plist>